    * {
        font-family: Bahnschrift, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: rgb(250, 235, 215);
        height: 100%;
        width: 100%;
    }
    
    h1 {
        text-align: center;
        margin: 5vw;
        font-size: 5vw;
    }
    
    h2 {
        font-size: 4vw;
        margin: 5vw;
        text-align: center;
    }
    
    h3 {
        text-align: center;
        margin: 5vw;
        font-size: 3vw;
    }
    
    p {
        text-align: center;
        margin: 5vw 2vw 2vw 5vw;
        font-size: 3vw;
    }
    
    #projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #projects>a {
        border: solid black 0.3vw;
        width: 80vw;
        margin: 2vw;
        padding: 2vw;
        text-align: center;
        font-size: 3vw;
    }